@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-gray-100;
}

html {
  color-scheme: dark;
}

/* Scrollbar styling */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #475569 #0f172a;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
